.search_container {
    position: relative;
    width: rem_calc(300);

    .icon {
        @include pos_abs_t_l($t: rem_calc(10), $l: rem_calc(10));
        color: $icon_color;
        cursor: pointer;
    }

    input {
        @include input;
        @include search_croix;
        padding-left: rem_calc(35);

    }

}