// for the display
.display_information_container {
    @include df($ai: center, $jc: space-between);
    flex-wrap: wrap;

    .display_information {
        width: 49%;
        @include df;
        flex-direction: column;
        margin-bottom: rem_calc(10);

        .title {
            @include label;
        }

        .value {
            font-size: rem_calc(16);
            text-align: justify;
        }

        .img_container {
            @include h_w($h: rem_calc(140), $w: 100%);

            img {
                @include image;
            }
        }

        &.w_100 {
            width: 100%;

            .img_container {
                @include h_w($h: rem_calc(140), $w: 100%);

                img {
                    @include image($of: contain);
                    border-radius: rem_calc(5);
                }
            }
        }
    }

}

// for the delete
.delete_container {
    .ask {
        font-size: rem_calc(20);
        text-align: center;
        color: $icon_color;

        .name {
            color: $error_color;
        }
    }
}

// for the activate or unactivate a customer account
.activate_or_unactivate_container {
    .ask {
        font-size: rem_calc(20);
        text-align: center;
        color: $icon_color;

        .name {
            color: $error_color;
        }
    }
}