/***************** les colors *****************/

// color basic
$white: #FFFFFF;
$black: #000000;
$background_color: #EEF2F6;
$bg_haut_color: #1877F2;
$blue: #1877F2;
$icon_color: #3C4B64;
$grey: #8D949E;
$btn_bg_color: #E4E6EB;
$success_color: #49AF41;
$divider_color: rgba($grey, 0.2);
$error_color: #cf1840;

/***************** les fonts *****************/
$font_1: 'font_1', serif;
$font_2: 'font_2', serif;
$font_3: 'font_3', serif;

/***************** les variables de calcul *****************/
$base_font_size: 16px !default;